{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
		var hostnameInput = "hostname" + e.data.param1;
		var x = document.getElementsByName(hostnameInput)[0].value;
		var portInput = "port" + e.data.param1;
		var y = document.getElementsByName(portInput)[0].value;
		var resultOutput = "result" + e.data.param1;
		var z = document.getElementById(resultOutput)
      $.getJSON($SCRIPT_ROOT + '/ping', {
		hostname: x,
        port: y
      }, function(data) {
		z.innerHTML = data.result
        $('input[name=hostnameInput]').focus().select();
      });
      return false;
    };

    $("a#calculate1").click({param1: "1", param2: "Extra Info"}, submit_form);
    $("a#calculate2").click({param1: "2", param2: "Extra Info"}, submit_form);
    $("a#calculate3").click({param1: "3", param2: "Extra Info"}, submit_form);
    $("a#calculate4").click({param1: "4", param2: "Extra Info"}, submit_form);
    $("a#calculate5").click({param1: "5", param2: "Extra Info"}, submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=hostname1]').focus();
  });
</script>
<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Ks Monitor Beta</h3>
    </div>

    <div class="jumbotron">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Ks Monitor</div>
        <div class="panel-body">
          <p>To just send icmp package leave blank port section.</p>
        </div>

        <!-- Table -->
        <table class="table">
          <tr>
              <th>Hostname</th>
              <th>Port</th>
              <th>Result</th>
          </tr>
          <tr>
              <th><input type="text" name="hostname1"></th>
              <th><input type="text" pattern=[0-9]{0,5} size="8" name="port1"></th>
              <th><span id="result1">?</span></br></th>
              <th><a class="btn btn-xs btn-success" href=# id="calculate1" role="button">check</a></th>
          </tr>
          <tr>
              <th><input type="text" name="hostname2"></th>
              <th><input type="text" pattern=[0-9]{0,5} size="8" name="port2"></th>
              <th><span id="result2">?</span></br></th>
              <th><a class="btn btn-xs btn-success" href=# id="calculate2" role="button">check</a></th>
          </tr>
          <tr>
              <th><input type="text" name="hostname3"></th>
              <th><input type="text" pattern=[0-9]{0,5} size="8" name="port3"></th>
              <th><span id="result3">?</span></br></th>
              <th><a class="btn btn-xs btn-success" href=# id="calculate3" role="button">check</a></th>
          </tr>
          <tr>
              <th><input type="text" name="hostname4"></th>
              <th><input type="text" pattern=[0-9]{0,5} size="8" name="port4"></th>
              <th><span id="result4">?</span></br></th>
              <th><a class="btn btn-xs btn-success" href=# id="calculate4" role="button">check</a></th>
          </tr>
          <tr>
              <th><input type="text" name="hostname5"></th>
              <th><input type="text" pattern=[0-9]{0,5} size="8" name="port5"></th>
              <th><span id="result5">?</span></br></th>
              <th><a class="btn btn-xs btn-success" href=# id="calculate5" role="button">check</a></th>
          </tr>
        </table>
      </div>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Ping Check</h4>
        <p>This check determines the status with the use of ICMP packets</p>

      </div>

      <div class="col-lg-6">
        <h4>TCP/UDP Check</h4>
        <p>Connect to a specific TCP port or UDP port to make sure it’s responding, optionally a string to send and to expect can be entered, the specific string will have to be found from the documentation of the service you’re monitoring though</p>

      </div>
    </div>

    <footer class="footer">
      <p>&copy; 2016 KocSistem, Inc.</p>
    </footer>

  </div> <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

{% endblock %}
