{% extends "layout.html" %}
{% block body %}

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Ks Monitor Beta</h3>
      </div>

      <div class="jumbotron">
        <h1>Ks Monitor Tool</h1>
        <p class="lead">Ks Network Monitoring Tool is your guide to the new, exciting world of modern monitoring </p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('form') }}" role="button">Demo Request !</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Ping Check</h4>
          <p>This check determines the status with the use of ICMP packets</p>

        </div>

        <div class="col-lg-6">
          <h4>TCP/UDP Check</h4>
          <p>Connect to a specific TCP port or UDP port to make sure it’s responding, optionally a string to send and to expect can be entered, the specific string will have to be found from the documentation of the service you’re monitoring though</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 KocSistem, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static',filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>

{% endblock %}
